
.top-header-text{font-size: 18px;}
.top-header-left{font-size: 20px;width: 350px;}
.list-text{font-size: 21px;}
.main-middle{width: 380px;}
.main-right{flex-grow: 1;}
.main-left{}

.main-pics{height: 290px;}
.main-pics2{height: 200px;width: 250px;}


.text-carosal{font-size: 18px;}
.text-carosal2{font-size: 18px;}

.recomend-txt{font-size: 18px;}